.my-style {
    background-color: #C9D8B6;
    color: #57837B ;
    border:  3px dashed #000;
}

#my-id {
    background-color: #FDD28F ;
    color: #DF5E5E;
    border: 3px solid #000;
}

p {
    background-color: #CDF0EA;
    color: #476072;
}

h1{
    color: #000;
}